{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<main>
    <section id="form-container">
        <img id="logo" src="{% static 'images/logo.jpg' %}" alt="">
        <div>
            <h1>Welcome to PChatz</h1>
            <p>Group Video Calling Application made by <strong>Pratik Das</strong></p>
        </div>

        <form id="form" action="room">
            <div class="form-filled">
                <input type="submit" value="Join Stream" />
            </div>
        </form>
    </section>
</main>

<script type="test/javascript" src="{% static 'js/lobby.js' %}"></script>

{% endblock content %}